@import "tailwindcss";

:root {
  --primary-color: #595959;
  --heading-color: #333333;
  --background-color: #f5f5f5;
  --text-color: #666666;
  --shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --border-color: #bebebe;
  --border-color2: #e7e7e7;
}

body {
  @apply bg-[var(--background-color)];
}

a {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
  @apply text-[var(--text-color)]
}

h2 {
  @apply text-2xl font-semibold;
}


h3 {
  @apply text-xl font-semibold;
  font-family: var(--font-primary);
}

h5 {
  font-family: var(--font-secondary);
}


.section {
  @apply my-5;
}

.my-container {
  @apply mx-auto w-[1200px];
}

.btn {
  @apply bg-[var(--primary-color)] text-white px-4 py-2 rounded-[2px] hover:bg-black hover:text-white transition font-semibold cursor-pointer
}

.btn-outline {
  @apply bg-transparent text-[var(--primary-color)] text-base font-semibold cursor-pointer transition capitalize px-4 py-2 rounded-[2px] border border-[var(--primary-color)] hover:bg-[var(--primary-color)] hover:text-white;
}


/* Featured Books Start */

.featured-books .featured-books-container {
  box-shadow: var(--shadow);
}

/* Featured Books End */


/* Navigation Button Start */

.nav-btn {
  @apply absolute top-1/2 cursor-pointer z-50 p-2 rounded hover:bg-[#ececec] disabled:hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.nav-btn.nav-next {
  @apply right-2;
}

.nav-btn.nav-prev {
  @apply left-2;
}

/* Navigation Button End */

/* Book Item Start */

.book-item .book-title {
  @apply text-[var(--heading-color)] text-sm font-semibold mt-2;
}

.book-item .book-author {
  @apply text-[var(--text-color)] text-sm;
  line-height: 1.5em;
}

.price {
  @apply text-[var(--heading-color)] text-base font-semibold;
}

.discount {
  @apply text-[var(--text-color)] text-sm line-through;
}

.book-item .cart-btn {
  @apply text-sm font-semibold bg-[var(--primary-color)] text-white py-2 cursor-pointer hover:bg-black transition duration-300 mt-2 hidden absolute top-2/5 z-10 mx-auto left-4 right-4;
}

.book-item .book-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: background-color 0.3s ease;
  z-index: 1;
  transition: all 0.3s ease;
}


.book-item:hover .cart-btn {
  @apply block;
}

.book-item:hover .book-cover::after {
  opacity: 0.6;
}


/* Book Item End */



/* Book Details Start */

.book-details .book-title {
  @apply text-2xl text-[var(--heading-color)]
}

.book-details .summary {
  @apply my-4 border-y border-[var(--border-color)] py-4;
}

.book-details .summary p {
  @apply text-sm;
  font-family: var(--font-secondary);
}

.book-details .book-category {
  @apply text-base mt-1
}

.book-details .book-author a {
  @apply text-sm
}

.book-details .about {
  @apply pb-6 border-b border-[var(--border-color)];
}

.book-details .about .about-item {
  @apply flex items-center gap-2 border-r border-[var(--border-color)] pr-6;
}

.book-details .about .about-item:last-child {
  @apply border-r-0 pr-0;
}

.book-details .about .about-items {
  @apply flex items-center gap-6;
}

.book-details .about .about-item img {
  @apply w-[50px]
}

.book-details .about .about-item div {
  @apply flex flex-col gap-1
}

.book-details .about .about-item .about-info {
  @apply text-2xl font-semibold text-[var(--heading-color)];
}

.book-details .about .about-item .about-title {
  @apply text-sm text-[var(--text-color)];
}

/* Book Details End */