@import "tailwindcss";

:root{
  --primary-color: #428a9b;
  --text-color: #333333;
  --background-color: #f5f5f5;
}

body {
  @apply bg-[var(--background-color)];
}

h2{
  @apply text-2xl font-semibold;
}


.section{
  @apply my-12;
}

.my-container{
  @apply mx-auto w-[1200px];
}